Port {{ ssh_port }}

# IdentitiesOnly yes
# PasswordAuthentication no
# PreferredAuthentications publickey
# ServerAliveCountMax 20
# ServerAliveInterval 60
AcceptEnv LANG LC_*
AllowAgentForwarding no
AllowTcpForwarding yes
ChallengeResponseAuthentication no
Compression yes
LogLevel INFO
LoginGraceTime 120
MaxAuthTries 10
MaxSessions 2
PermitRootLogin no
PermitTunnel yes
PrintMotd yes
Protocol 2
StrictModes yes
Subsystem sftp /usr/lib/openssh/sftp-server
SyslogFacility AUTH
TCPKeepAlive no
UseDNS no
UsePAM yes
UsePrivilegeSeparation yes
X11Forwarding no